<div id="header">
  <nav class="top-bar large-12 columns" style>
    <ul class="title-area">
      <li class="name">
       <h1><a href="#">Zone.com</a></h1>
      </li>
    	<li class="toggle-topbar menu-icon">
  			<a href="#"><span>Menu</span></a>
  		</li>
    </ul>
    <Section class="top-bar-section">
  		<!--Right Nav Section-->
      <span class="show-for-small">
        <ul class="right">
          <li class><%= link_to "Administration", "administration/index" %></li>
          <li class="divider"></li>
          <li class><%= link_to "Academics", "#" %></li>
          <li class="divider"></li>
          <li class ><%= link_to "Courses", "#" %></li>
          <li class="divider"></li>
          <li class><%= link_to "Accomodation", "#" %></li>
          <li class="divider"></li>
          <li class><%= link_to "Finance", "#" %></li>
          <li class="divider"></li>
          <li class><%= link_to "Communications", "#" %></li>
          <li class="divider"></li>
          <li class><%= link_to "Reports & Forms", "#" %></li>
          <li class="divider"></li>
          <li class><%= link_to "Specials", "#" %></a></li>
          <li class="divider"></li>
          <li class><%= link_to "Forecasting", "#" %></li>
      </ul>
    </span>
        <!--<span class="hide-for-small">
          <ul class="right">
          <li class> 
          	<a href="#">lameed Kunle</a>
          </li>
          <li class="has-dropdown">
          	<%= link_to image_tag('images.jpg', :alt => 'School logo', :id => 'user_icon'),  "#" %>
          	 <ul class="dropdown">
              <li><a href="#">My account</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">My Profile</a></li>
          </ul>
          </li>
        </ul></span>-->
        <!-- End of Right Nav -->
      </section>

</nav>
</div>
 




    