
<div id="admin_sidebar" class="large-2 columns hide-for-small">
<div class="large-12 columns">
<ul class="side-nav">
  <h5>Quick Menu</h5>
  <li class="divider"></li>
  <li><%= link_to image_tag('small_admin.png', :alt => 'admin', :class => 'small_icon') %> <%= link_to "Administration", "/administration/index" %></li>
  <li class="divider"></li>
  <li><%= link_to image_tag('academics.png', :alt => 'admin', :class => 'small_icon') %> <%= link_to "Academics", academic_index_path %></li>
  <li class="divider"></li>
  <li><%= link_to image_tag('small_courses.png', :alt => 'admin', :class => 'small_icon') %> <%= link_to "Courses", "#" %></li>
  <li class="divider"></li>
  <li><%= link_to image_tag('accomodation.png', :alt => 'admin', :class => 'small_icon') %> <%= link_to "Accomodation", "#" %></li>
  <li class="divider"></li>
  <li><%= link_to image_tag('finance.png', :alt => 'admin', :class => 'small_icon') %> <%= link_to "Finance", controller: "finances" %></li>
  <li class="divider"></li>
  <li><%= link_to image_tag('communication.png', :alt => 'admin', :class => 'small_icon') %> <%= link_to "Communications", "#" %></li>
  <li class="divider"></li>
  <li><%= link_to image_tag('reports.png', :alt => 'admin', :class => 'small_icon') %> <%= link_to "Reports & Forms", "#" %></li>
  <li class="divider"></li>
  <li> <%= link_to image_tag('specials.png', :alt => 'admin', :class => 'small_icon') %> <%= link_to "Specials", "#" %></a></li>
  <li class="divider"></li>
  <li><%= link_to image_tag('forcast.png', :alt => 'admin', :class => 'small_icon') %> <%= link_to "Forecasting", "#" %></li>
</ul>
</div>
</div>
